<form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="profile_img">
        <!--img 크기 고정하는 작업 필요-->
        <img class="image" src="/media/{{ form.profile_img.value }}"/>
        <input type="file" class="form-control" name="profile_img" id="profile_img"
            value="{{ form.profile_img.value | default_if_none:'' }}">
        </label>
    </div>
    <div class="form-group">
        <label for="user_name">이름</label>
            <input type="text" class="form-control" name="user_name" id="user_name"
            value="{{ form.user_name.value | default_if_none:'' }}">
    </div>
    
    <div class="form-group">
        <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
            value="{{ form.email.value | default_if_none:'' }}">
    </div>

    <div class="form-group">
        <label for="user_phone">연락처</label>
            <input type="text" class="form-control" name="user_phone" id="user_phone"
            value="{{ form.user_phone.value | default_if_none:'' }}">
    </div>

    <div class="form-group">
        <label for="user_addr">주소</label>
            <input type="text" class="form-control" name="user_addr" id="user_addr"
            value="{{ form.user_addr.value | default_if_none:'' }}">
    </div>

    <input type = "submit" value = "수정" class='btn btn-primary'>

    
</form>

<a href = "{% url 'mypageapp:create_pet' user.id %}"><button type="submit">MY PET 등록하기</button></a>
<h3> {{pet.pet_img | default_if_none:''}}</h3>
<h3>PET : {{pet.pet_name}}</h3>
<h3>성별 : {{pet.gender}}</h3>
<h3>나이 : {{pet.age}}</h3>
<h3>분류 : {{pet.size}}</h3>
<h3>중성화 여부 : {{pet.neutered}}</h3>
<a href = "{% url 'mypageapp:update_pet' user.id %}"><button type="submit">MY PET 정보 수정하기</button></a>

